* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  background-color: honeydew;
}

header {
  background-image: url(/images/showcase-1.jpg);
  background-repeat: no-repeat;
}

nav .showcase {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  text-align: center;
  padding: 3%;
  /* margin: auto; */
}

.showcase-1 {
 color: #333;
}

.showcase-2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
} 

.showcase-3 {
  width: 100%;
  height: 200px;
  /* border-style: solid;
  border-width: 2px;
  border-color: aqua;  */
}
li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
  text-align: justify;
}

/* .flexbox-container {
  display: flex;
  flex-direction: row;
}  */

  .flexbox-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    padding-bottom: 10px;
  }

.flexbox-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexbox-2 {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.flexbox-2a {
  width: 200px;
  height: 100%;
  border-right: solid;
  flex-basis: 20%;
}

.flexbox-2b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-width: 2px;
  flex-wrap: wrap;
  gap: 10px 10px;
}

#box-2 {
  height: 400px;
  flex-basis: 79%;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  background-image: url(/images/showcase-2.jpg);
}

#box-3 {
  flex-basis: 39.5%;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  background-image: url(/images/showcase-3.jpg);
}
#box-4 {
  flex-basis: 39.5%;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  background-image: url(/images/showcase-4.jpg);
}
#box-5 {
  flex-basis: 39.5%;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  background-image: url(/images/showcase-5.jpg);
}
#box-6 {
  flex-basis: 39.5%;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  background-image: url(/images/showcase-6.jpg);
}

/* #box-2,
#box-3 {
  padding-bottom: 10px;
} */


/* .flexbox-1 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
/* } */

nav {
  display: flex; 
}
nav .contact li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding: 0px 20px;
  text-decoration: underline;
  text-align: justify;
}

/* .text-decor {
  text-align: center;
  background-color: aqua;
  display: block;
} */

.h-container {
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  height: 50px;
  width: 200px;
  overflow: hidden;
  background-color: aqua;
}

.showcase-footer {
  text-align: center;
  padding: 3%;
  margin: auto;
  padding-bottom: 0;
  /* border: solid 2px; */
}
